﻿@model OdeToFood.Data.Models.Restaurant

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            @Model.Name
        </h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.id })

    </div>
</div>
