﻿@model OdeToFood.Data.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2>Details for @Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cusinie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cusinie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
